<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TextServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/TextService/TextService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TextServiceSoap"
                contract="TextServiceReference.TextServiceSoap" name="TextServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>